.App {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: black;
}

.spaceship,
.invader {
  position: absolute;
  width: 30px;
  height: 30px;
  color: red;
}

.bullet {
  background-color: yellow;
  position: absolute;
  width: 2px;
  height:15px;
}

.invader {
  background-color: pink;
}